/*general*/

html, body{
  background-image: url(../img/bild2.jpg);
  background-attachment:fixed;
  background-size: cover;
  background-position: 65% 35%;
  height: 100%;
  min-height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.impressum{
  color: white;
  background-color: black;
}

.impressum a{
  color: white;
  text-decoration: underline dotted;
}


/*sidebar*/
#home:hover{
  cursor: pointer;
}

.sidebar{
  height: 70%;
  width: 250px;
  color: white;
  margin-top: 10%;
  margin-right: 15%;
  float: right;
  transition: 0.3s;
  border-top: 3px solid white;
}

.sidebar h1{
  padding-top: 5px;
  font-family: Cambria;
  font-size: 3em;
  text-align: right;
}

.sidebar a{
  text-decoration: none;
  color: white;
}
a{
  transition: 0.3s;
}
a.current{
  filter: invert(70%);
}

li a:hover{
  cursor: pointer;
  filter: invert(70%);
}

.sidebar ul{
  margin: 0;
  font-size: 2em;
  line-height: 1.75;
  list-style: none;
  text-align: right;
  font-family: Cambria;
}

/*social_legal*/
footer{
  text-align: left;
  position: relative;
  display: inline-block;
  float: left;
  width: 100%;
  z-index: 1;
}

.social_legal{
  padding-right: 30px;
}

.social_legal li{
  display: inline-block;
}

.social_legal a{
  text-decoration: none;
  color: white;
  font-style: oblique;
  font-size: 1em;
}

.social_icon{
  vertical-align: bottom;
  height: 30px;
  width: 30px;
  padding-bottom: 0;
  margin-bottom: 0;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  filter: invert(100%);
  transition: 0.3s;
}

.social_icon:hover {
  filter: invert(20%);
}

/*content*/

.content{
  width: 100%;
  height: 100%;
  position: relative;
  float: left;
}

h2{
  color: white;
  font-size: 2em;
  padding: 15px;
}

p{
  padding: 15px;
  font-size: 1.25em;
  text-align: justify;
  color: white;
  line-height: 1.5;
  font-style: Cambria;
}

#vitatext{
  text-align: center;
  margin-top: 8%;
  margin-left: 4%;
  width: 50%;
  color: white;
  line-height: 1.5;
  font-style: Cambria;
  background-color: rgba(0,0,0,0.9);
  border: 2px solid white;
  z-index: 2;
}

#terminetext{
  text-align: center;
  margin-top: 8%;
  margin-left: 4%;
  width: 40%;
  background-color: rgba(0,0,0,0.9);
  border: 2px solid white;
  z-index: 2;
}

#videostext{
  text-align: center;
  margin-top: 6%;
  margin-left: 4%;
  width: 50%;
  background-color: rgba(0,0,0,0.9);
  border: 2px solid white;
  z-index: 2;
}

#buechertext{
  margin-top: 8%;
  margin-left: 4%;
  width: 62%;
  color: white;
  font-style: Cambria;
  background-color: rgba(0,0,0,0.9);
  text-align: center;
  border: 2px solid white;
  z-index: 2;
}

.buchkachel{
  display: inline-block;
}

.buchkachel img{
  height: 300px;
  padding: 15px;
  margin: 0;
  transition-delay: 3s;
}

.buchkachel:hover{
  transform: translateY(-5px);
  cursor: pointer;
}

#contacttext{
  margin-top: 8%;
  margin-left: 5%;
  text-align: center;
  padding-bottom: 10px;
  width: 40%;
  color: white;
  line-height: 1.5;
  font-style: Cambria;
  border: 2px solid white;
  background-color: rgba(0,0,0,0.9);
  z-index: 2;
}

#contacttext input{
  padding: 5px;
  margin: 5px;
  width: 33%;
  display: inline-block;
  font-family: Cambria;
  font-size: 1em;
  color: white;
  border: 2px solid white;
  background-color: rgb(0, 0, 0);
}

#contacttext textarea{
  padding: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 70%;
  max-width: 70%;
  height: 30%;
  font-family: Cambria;
  font-size: 1.5em;
  color: white;
  border: 2px solid white;
  background-color: rgb(0, 0, 0);
}

#contacttext button{
  font-family: Cambria;
  font-size: 1.5em;
  background-color: black;
  border-radius: 15px;
  color: white;
  padding: 5px;
  margin: 15px 0 0 0;
}

#contacttext button:hover{
  cursor: pointer;
  filter: invert(100%);
}

/*keyframes*/
@keyframes fade {
  from{
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to{
    opacity: 1;
    transform: rotateX(0);
  }
}

/*media*/

@media only screen and (max-width: 800px) {
  html, body{
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .hidden{
      visibility: hidden;
  }

  .sidebar{
    height: 95%;
    width: 150px;
    margin: 2% 2% 0 0;
    padding-right: 10px;
  }

  .sidebar h1{
    font-size: 2em;
  }

  .sidebar ul{
    font-size: 1.5em;
  }

  #mobile-toggle a{
    margin: 2.5% 0 0 2.5%;
    text-decoration: none;
    position: absolute;
    font-size: 2em;
    color: white;
    z-index: 3;
  }

  footer{
    text-align: left;
    padding: 0;
    position: relative;
  }

  iframe{
    width: 360px;
  }



  #contacttext{
    margin: 0;
    width: 100%;
    max-width: 100%;
    height: 110%;
    position: absolute;
  }

  #videostext{
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.9);
  }

  #vitatext{
    margin: 0;
    position: absolute;
    width: 100%;
  }

  #buechertext{
    margin: 0;
    width: 100%;
    position: absolute;
    max-width: 100%;

  }

  #terminetext{
    margin: 0;
    width: 100%;
    height: 110%;
    position: absolute;
    max-width: 100%;
  }

}
