/*general*/

html, body{
  background-image: url(../img/bild2.jpg);
  background-attachment:fixed;
  background-size: cover;
  background-position: 65% 35%;
  height: 85%;
  width: 100%;
  padding: 0;
  margin: 0;
}



/*sidebar*/
.sidebar{
  height: 100%;
  width: 200px;
  color: white;
  margin-top: 10%;
  margin-left: 70%;
  vertical-align: middle;
}

.sidebar h1{
  padding-top: 15px;
  border-top: 3px solid white;
  font-family: Cambria;
  font-size: 3em;
  text-align: right;
}

.sidebar a{
  text-decoration: none;
  color: white;
}

.sidebar ul{
  padding: 0;
  margin: 0;
  font-size: 2em;
  line-height: 1.5;
  list-style: none;
  text-align: right;
  font-family: Cambria;
}

/*footer*/

.footer{
  width: 100%;
}

.footer a{
  text-decoration: none;
  color: white;
}

.footer ul{
  list-style: none;
  display: inline-block;
}

.footer li{
  font-style: oblique;
  display: inline-block;
}

.social_icon{
  height: 30px;
  width: 30px;
  padding-bottom: 0;
  margin-bottom: 0;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  filter: invert(100%);
  transition: 0.3s;
}

.social_icon:hover {
  filter: invert(20%);
}
